.App{
    margin-top: -40px;
}

.App .appName{
    
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    background-color: rgb(50, 54, 127);
    color:white;
    padding: 10px;
    
}